# Ambientes Virtuais
venv/
.venv/
env/

# Variáveis Sensíveis (NUNCA SUBIR)
.env

# Banco de Dados Local (O Render criará o dele ou você rodará a ingestão lá)
chroma_db/

# Cache do Python
__pycache__/
*.py[cod]
*$py.class

# Documentos de teste
docs/*.pdf
!docs/.gitkeep
Comandos.txt